body {
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.home{
  width: 40px;
  right: 5%;
  position: absolute;
  justify-content: center;
}
.eye1 {
  width: 9%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  left: 26%;
  top: 54.2%;
}
.pupil1 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
  left: 0%;
  top: 0%;
}
.eye2 {
  width: 9%; 
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47%;
}
.pupil2 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye3 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}
.pupil3 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye4 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47%;
}
.pupil4 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye5 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}
.pupil5 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye6 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47%;
}
.pupil6 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye7 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}       
.pupil7 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye8 {
  width: 9%;
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47%;
}      
.pupil8 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye9 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 25%;
}       
.pupil9 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye10 {
  width: 9%; 
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47.5%;
}     
.pupil10 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye11 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}      
.pupil11 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye12 {
  width: 9%;
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47.3%;
}   
.pupil12 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye13 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}       
.pupil13 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye14 {
  width: 9%;
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47%;
}     
.pupil14 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye15 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}       
.pupil15 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye16 {
  width: 9%; 
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47%;
}  
.pupil16 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye17 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}    
.pupil17 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye18 {
  width: 9%;
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47.2%;
}    
.pupil18 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye19 {
  width: 9%; 
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24.3%;
}
.pupil19 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye20 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47.2%;
}     
.pupil20 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye21 {
  width: 9%;
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}      
.pupil21 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye22 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47.2%;
}      
.pupil22 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye23 {
  width: 9%;
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}   
.pupil23 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye24 {
  width: 9%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47.2%;
}    
.pupil24 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye25 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}   
.pupil25 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye26 {
  width: 9%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47.2%;
}     
.pupil26 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye27 {
  width: 9%;
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}      
.pupil27 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye28 {
  width: 9%; 
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47.2%;
}      
.pupil28 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye29 {
  width: 9%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}        
.pupil29 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye30 {
  width: 9%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47.2%;
}     
.pupil30 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye31 {
  width: 9%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}     
.pupil31 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye32 {
  width: 9%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47.2%;
}    
.pupil32 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0); 
}
.eye33 {
  width: 9%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
}    
.pupil33 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye34 {
  width: 9%;
  height: 4%; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47.2%;
}  
.pupil34 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye35 {
  width: 9%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 24%;
} 
.pupil35 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.eye36 {
  width: 9%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;;
  top: 54.2%;
  left: 47.2%;
}       
.pupil36 {
  width: 50%;
  height: 110%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(0, 0);
}
.marilyn-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr)); /* Fit as many 30vh images as possible */
  grid-template-rows: repeat(auto-fill, minmax(30vh, 1fr)); /* Fit as many 30vh images as possible */
  gap: 0; /* No gaps between images */
  width: 100vw; /* Full screen width */
  height: 100vh; /* Full screen height */
  overflow: hidden; /* Prevents scrolling */
}
.marilyn-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.marilyn-grid .item1 {
  position: relative;
}
.marilyn-grid .item2 {
  position: relative;
}
.marilyn-grid .item3 {
  position: relative;
}
.marilyn-grid .item4 {
  position: relative;
}
.marilyn-grid .item5 {
  position: relative;
}
.marilyn-grid .item6 {
  position: relative;
}
.marilyn-grid .item7 {
  position: relative;
}
.marilyn-grid .item8 {
  position: relative;
}
.marilyn-grid .item9 {
  position: relative;
}
.marilyn-grid .item10 {
  position: relative;
}
.marilyn-grid .item11 {
  position: relative;
}
.marilyn-grid .item12 {
  position: relative;
}
.marilyn-grid .item13 {
  position: relative;
}
.marilyn-grid .item14 {
  position: relative;
}
.marilyn-grid .item15 {
  position: relative;
}
.marilyn-grid .item16 {
  position: relative;
}
.marilyn-grid .item17 {
  position: relative;
}
.marilyn-grid .item18 {
  position: relative;
}
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  opacity: 0;
  animation: fade-in 1s forwards, fade-out 2s 2s forwards;
}
#splash-screen img {
  width: 300px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  } 100% {
    opacity: 0;
    visibility: hidden;
  }
}