img.artwork{
    height:300px;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
img.artwork:hover{
    transform: scale(1.05,1.05);
    transition: all 0.5s ease-in-out;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.scroller {
    max-width: 100%;
}
.scroller__inner{
    padding-block: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.scroller[data-animated=true] {
    overflow: hidden;
}
.scroller[data-animated=true] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation:
        scroll
        var(--_animation-duration, 20s)
        var(--_animation-direction, forwards)
        linear
        infinite;
}
.scroller[data-speed="fast"] {
    --_animation-duration: 5s;
}
.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}
@keyframes scroll{
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}